NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000



# Cal.com
NEXT_PUBLIC_CAL_URL=https://cal.com/saimor/30min

# Matomo (anonymisiert)
NEXT_PUBLIC_MATOMO_URL=https://analytics.example.tld/
NEXT_PUBLIC_MATOMO_SITE_ID=1
